.container
{
    display: flex;
    justify-content: center;
    gap: 100px;
    min-height: 80vh;
    background-color: rgb(250,249,248);
    padding: 80px 0;
}
.textContainer
{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.textContainer h2
{
    font-size: 65px;
}
.textContainer p
{
    font-size: 14px;
}
.btnContainer
{
    display: flex;
    gap: 20px;
}
.btnContainer button
{
    padding: 15px 20px;
    background-color: rgb(33,42,47);
    color: white;
    font-size: 16px;
    border-color: white;
    cursor: pointer;
    font-weight: 400;
    border-radius: 10px;
    transition: all ease-in-out 0.2s;
}
.btnContainer button:hover
{
    background-color: white;
    border-color: rgb(33,42,47);
    color: rgb(33,42,47);
}
.imageContainer
{
    position: relative;
    width: 400px;
    height: 400px;
}