.container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    background-color: #212A2F;
    padding: 0 150px;
}
.logoContainer
{
    display: flex;
    font-size: 20px;
    flex: 1;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
}
.nav_list 
{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    flex: 3;
    text-transform: capitalize;
}
.nav_list .element
{
    color: aliceblue;
    transition: all ease-in-out 0.2s;
}
.nav_list .element:hover
{
    color: white;
    text-decoration: underline;
}
.active 
{
    color: white;
    text-decoration: underline;
    font-weight: 500;
}